<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>My instrument</title>
    <style>
        div {
            margin: 10px;
        }
    </style>
</head>

<body>
<div>Welcome to Finstrument!</div>

<div sec:authentication="name"></div>
<span sec:authorize="!isAuthenticated()">
    You can <a href="/login">login</a> or <a href="/registration">register</a> to add your company!
</span>
</body>

</html>