<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <title>Регистрация</title>
  <link rel="stylesheet" type="text/css" media="all"
        href="../public/css/style.css" th:href="@{public}" />
</head>

<body>
<div>
  <!--/*@thymesVar id="user" type="ru.momentum.finstrument.core.entity.User"*/-->
  <form action="/registration" th:object="${user}" method="POST" enctype="utf8">
    <div>
      <label th:text="#{first.name}"></label>
      <input th:field="*{firstName}"/>
    </div>
    <div>
      <label th:text="#{last.name}"></label>
      <input th:field="*{lastName}"/>
    </div>
    <div>
      <label th:text="#{email}"></label>
      <input type="email" th:field="*{username}"/>
      <div th:text="${usernameError}"></div>
    </div>
    <div>
      <label th:text="#{password}"></label>
      <input type="password" th:field="*{password}"/>
    </div>
    <div>
      <label th:text="#{password.confirm}"></label>
      <input type="password" th:field="*{passwordConfirm}"/>
      <p th:text="${passwordConfirmError}"></p>
    </div>
    <button type="submit" th:text="#{submit}"></button>
  </form>
  <a href="/">Главная</a>
</div>
</body>
</html>